<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


</head>
<body>
    <header class="masthead" id="login_page">
        <div class="container h-100" >
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <img class="indexlog" src="{{url_for('static',filename='img/sign.png')}}" alt="logoTemporal2" />
              <h1 class="fw-light">Bienvenido al Chat</h1>
              <form id="login_form">
                <div class="input-group">            
                    <input type="text" class="form-control" placeholder="Enter username" id="username" name="username" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>       
            </form>
            </div>
          </div>
        </div>
    </header>




    <main id="chat_page">
        <header>
            <div class="title">
                <img src="#" alt="" width="35px">
                <h1>Chat</h1>
                <button type="button" onclick="show_hide()">
                    <img src="{{ url_for('static',filename='img/icon.png')}}" width="30px">
                </button>
                
            </div>

            <h4 id="welcome_user"></h4>


            <h2 id="chat_msg_header"></h2>

        
        </header>

        <div class="containerr">
            <div class="users-window">
                <div class="users-head">
                    <h3>Canales</h3>
                    <button data-toggle="modal" data-target="#myModal" id="createchannel_button" data-dismiss="modal" data-backdrop="false">Create</button>
                </div>
                <div class="users-list" id="channel_list_div">
                    <ul id="channel_list">
                        {% for channel in channels%}
                            <p> <buttton class="btn btn-link" data-channel= "{{channel}}"> {{channel}} </button> </p>
                                                        
                        {% endfor %}

                    </ul>  
                </div>                
            </div>

            <div class="chat-window">
                <div class="chats" id="messages">
                    <div class="user-join">
                        <p>Bienvenido al Chat :D</p>
                    </div>
                    
                </div>
                    
                <form id="message_submit">
                    <div class="user-input">
                        <input id="message_input" name="message_input" type="text" placeholder="Type a message...">
                        <button type="submit" onclick="scrollAuto()">SEND</button>
                    </div>
                </form>
                
                    
            </div>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title"> Create a new channel! </h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="createchannel">
                            <input type="text" class="form-control" placeholder="Name of Channel" id="channelname" name="channelname" required>
                            <hr>                      
                            <button type="button" class="btn btn-danger float-right" data-dismiss="modal" id="b1">Cancel</button>
                            <button type="submit" class="btn btn-primary float-right" id="b2">Create</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    <script>
        var uwindow=document.querySelector('.users-window');
        function show_hide(){
            if (uwindow.style.display == "none") {
                uwindow.style.display = "block";
            }
            else if (uwindow.style.display == "block") {
                uwindow.style.display = "none";
            }
            else {
                uwindow.style.display = "block";    
            }
        }
        function scrollAuto(){
            var elem = document.getElementById('messages');
            elem.scrollTop = elem.scrollHeight;
        }

    </script>
</body>
</html>